
.container {
  display: grid; 
  grid-template-columns: 20% 80%;
  grid-template-rows: 150px auto 50px;
}
.container > div {margin: 1px; padding: 10px; font-size: 20px;}

.header { 
  grid-column-start: 1; grid-column-end: 3; 
  background-color:#045;  
  text-align: center; 
}
.left1 {
  grid-column-start: 1; grid-column-end: 2;
  background:#1fa8f8;
}
.content1 {
  grid-column-start: 2; grid-column-end: 3;
  background: lightblue; 
}

.left2 {
  grid-column-start: 1; grid-column-end: 2;
  background:#1fa8f8;
}
.content2 {
  grid-column-start: 2; grid-column-end: 3;
  background: lightblue; 
}

.bag01img {
  grid-column-start: 1; grid-column-end: 2;
  background:#1fa8f8;
}
.bag01con {
  grid-column-start: 2; grid-column-end: 3;
  background: lightblue; 
}

.left3 {
  grid-column-start: 1; grid-column-end: 2;
  background:#1fa8f8;
}
.content3 {
  grid-column-start: 2; grid-column-end: 3;
  background: lightblue; 
}

.left4 {
  grid-column-start: 1; grid-column-end: 2;
  background:#1fa8f8;
}
.content4 {
  grid-column-start: 2; grid-column-end: 3;
  background: lightblue; 
}


.bottom { 
  grid-column-start: 1; grid-column-end: 3;
  background:darkcyan;
}

* {
  margin:0;   /* 마진 리셋 */
  padding:0;   /* 패딩 리셋 */
  box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
}


.header > .subject {
  font-size:3em;
  color:#fff;  /* 글자 색 */
  font-weight:600;  /* 글자 굵기 */
  padding:20px 60px;  /* 패딩 */ 
}

#top-menu > li {
  display: inline-block;
  background-color: greenyellow;
}

#top-menu > li > a {
  text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
  font-size:1.1em;
  color:red;  /* 글자 색 */
  font-weight:600;  /* 글자 굵기 */
  padding:20px 60px;  /* 패딩 */ 
}

#top-menu > li > a:hover {
  color:#1fa8f8;
  text-shadow:0 -2px #222;
}


